html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


header {
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-image: linear-gradient(135deg, #2f2f2f, #828282);
}

header > div {
    text-align: center;
}



header button {
    padding: 10px 30px;
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

header h2 {
    font-size: 28px;
}

header p {
    font-style: italic;
    line-height: 1.6;
}

.recent-header{
    position: absolute;
    font-size: 40px;
    width: 100%;
    top:20px;
    left: 0px;
    text-align: center;
}

.recent-header span {
    background-color: white;
    color: black;
}

.recent-block {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    color: white;
}

.recent-art {
    width: 50%;
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 20px;
    background-image: linear-gradient(to bottom, #2f2f2f, #828282);
}

.recent-art p:first-child {
    font-size: 120%;
    padding-top: 100px;
    padding-bottom: 20px;
}

.recent-art p:nth-child(2) {
    font-size: 40px;
    padding-bottom: 20px;
}

.recent-art p:nth-child(3) {
    
    padding-bottom: 20px;
}
.recent-art p:nth-child(3) > span {
    padding-right: 20px;
    font-size: 150%;
}

.recent-art p:nth-child(4) {
    padding-bottom: 20px;
    padding-top: 80px;
}

.first-line-art p:first-child {
    padding-top: 150px;
}



.latest-block {
    display: flex;
    flex-wrap: wrap;
}

.letest-itme {
    width: 33.3%;
    box-sizing: border-box;
    border: 0.5px solid grey;
    padding: 10px;
    
}

.letest-itme p:nth-child(1) {
    padding-top: 40px;
}

.letest-itme h2 {
    text-decoration-line: underline;
    font-size: 25px;
    padding-top: 10px;

}
.letest-itme :nth-child(3) {
    padding-top: 10px;
}

.letest-itme :nth-child(4) {
    padding-top: 30px;
    font-size: 16px;
}
.letest-itme :nth-child(5) {
    padding: 40px 40px;
    font-size: 20px;
}


.members-area {
    width: 66.66%;
    box-sizing: border-box;
    border: 1px solid grey;
    background-image: linear-gradient(135deg, #2f2f2f, #828282);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.members-area h1 {
    font-size: 40px;
    padding: 0px 0px;
    text-decoration: underline;
}

.members-area p {
    font-size: 20px;
    padding: 30px 0px;
}

.members-area button {
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    background: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.latest-all {
    width: 100%;
    text-align: center;
    
}

.latest-all p {
    padding: 60px;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    text-decoration: underline;

}

.smashtv-box {
    text-align: center;
    margin: 30px;
    border: 1px solid grey;
    padding: 80px;
    background-image: linear-gradient(135deg, #2f2f2f, #828282);
    color: white;
}

.smashtv-box h1 {
    font-size: 50px;
}

.smashtv-box p {
    font-size: 25px;
    padding: 40px; 
}

.smashtv-box button {
    font-size: 25px;
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255) ;
    border-radius: 5px;
    color: white;
}

.guides-box {
    display: flex;
    flex-wrap: wrap;
}

.guides-item {
    box-sizing: border-box;
    padding: 30px;
    width: 33.3%;
}

.guides-item p:first-child {
    font-size: 13px;
    padding-bottom: 10px;
}

.guides-item h1 {
    font-size: 30px;
    text-decoration: underline;
}

.guides-item ul {
    list-style-type: disc;
    list-style-position: inside;
}

.guides-item li {
    font-size: 20px;
    padding-top: 20px;
}

.newsletter-item {
    width: 66.6%;
}

.newsletter-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(135deg, #2f2f2f, #828282);
    color: white;
}

.newsletter-item  h1{
    font-size: 50px;
}

.newsletter-item  p{
    padding: 20px;
    font-size: 20px;
}

.newsletter-item  button{
    padding: 10px 20px;
    font-size: 25px;
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
}

footer {
    background-image: linear-gradient(135deg, #2f2f2f, #828282);
    color: white;
}

footer p:first-child {
    text-align: center;
    padding-top: 40px;
}

footer ul {
    box-sizing: border-box;
    display: flex;
    padding: 40px 40px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    list-style-type: disc;
  
}

footer ul li {
    padding-left: 0px;
    margin-left: 30px;
    padding-top: 10px;
}

footer p:nth-child(3) {
    text-align: center;
    padding-top: 20px;
    width: 50%;
     margin: 0px auto;
}
footer p:nth-child(4) {
    text-align: center;
    padding: 40px;
}

footer p:nth-child(4) span{
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}